<!DOCTYPE html>
<!-- “ —$≠€— ” -->
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

		<title>Ezn's Guide</title>

		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<link rel="icon" href="favicon.ico">

		<link rel="stylesheet" href="normalize.css">
		<link rel="stylesheet" href="[% 'eznguide.css' | version %]">
	</head>

	<body>
		<!--[if lt IE 7]>
			<p class="chromeframe">You are using an <strong>outdated</strong> browser.
			Please <a href="http://browsehappy.com/">upgrade your browser</a> or
			<a href="http://www.google.com/chromeframe/?redirect=true">activate
			Google Chrome Frame</a> to improve your experience.</p>
		<![endif]-->

		<article>

			<h3 class="center caps">Ezn’S Guide to Writing (Fan)Fiction</h3>

			<p class="center em">
				(<a href="http://neocities.org/site_files/eznguide.zip">Download entire site</a>)
			</p>

			<h1 id="splash">
				Don’t<br />
				Panic
			</h1>

			<div class="contents">
				<a id="Contents"> </a>
				<h1>Contents</h1>

				<ul>
				[%- FOREACH header IN headers %]
					<li class="[% header.class %]">
						<a href="#[% header.href %]">[% header.contents %]</a>
					</li>
				[%- END %]
				</ul>
			</div>

[% content %]

		</article>

		<script src="[% 'eznguide.js' | version %]"></script>
	</body>
</html>
